* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Helvetica, "Microsoft YaHei", sans-serif;
}

h1, h2, h3, h4 {
    font-weight: unset;
}

body {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container#profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.container#profile span {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 1061px) {
    div.container#profile span {
        margin-top: 20px;
        align-items: center;
    }
    div.container#profile span, h2, h3 {
        margin-bottom: 5px;
    }
    div.container#profile * {
        text-align: center;
    }
}

div.container {
    background-color: #f7f7f7;
    padding: 20px;
    width: 65%;
    margin-top: 35px;
}

div.container:last-of-type {
    margin-bottom: 35px;
}

h3.subtitle {
    margin-bottom: 15px;
    font-weight: bold;
}

span.content p {
    line-height: 25px;
    margin-bottom: 7px;
}

p.paper, p.award {
    margin-left: 0px;
}

em {
    text-decoration: underline;
}

a:link, a:visited {
    color: royalblue;
}